@font-face{
    font-family: dispense;
    src:url("../fonts/Dispence.otf");
}

body{
    font-family: "dispense";
    font-size:40px;
}

.timer-body{
    position:absolute;
    width:1920px;
    top:550px;
    line-height:100px;
    font-size:100px;
    text-align: center;
    color:#FFFFFF;
    text-shadow: 2px 2px 5px rgba(131, 0, 218,1);
}